Source: jh7110-vpu-bin
Section: misc
Priority: optional
Maintainer: Yukari Chiba <i@0x7f.cc>
Standards-Version: 4.1.4
Build-Depends:
 debhelper-compat (= 12),
 dh-exec (>= 0.3)
Rules-Requires-Root: no

Package: jh7110-vpu-bin
Section: libs
Architecture: linux-any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: JH7110 VPU driver (binary)

Package: firmware-jh7110-vpu
Section: misc
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: JH7110 VPU firmware
